*{
    box-sizing: border-box;
}
.html{
    touch-action: manipulation;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;

}
body{
    background-color: rgb(255 255 255);
    color: rgb(23 23 23);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0rem;
    letter-spacing: 0.0em;
    overflow-x: hidden;
    line-height: inherit;
    margin: 0;
}
.topBar{
    color: rgb(250 250 250);
    background: #1f1f1f;
    background-color: 31 31 31;
    height: 3rem;
    font-size: 0.8125rem;
    align-items: center;
    justify-content: center;
    transition: .5s cubic-bezier(.6,0,.4,1);
}
.topbarCenter{
    padding-inline: 1.25rem;
    align-items: center;
    width: 100%;
    padding-block: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topbarMargin{
    grid-area: "announcement";
    justify-content: center;
    height: 100%;
    display: flex;
    position: relative;
}
#announcementBar{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    user-select: none;
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    /* position: relative; */
}
.topWrite{
    cursor: grab;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    position: relative;
}
.topWrite2{
    transform: translateX(50%);
    /* position: absolute; */
    height: 100%;
    width: 100%;
}
.announQues{
    transform: translateX(-50%);
    pointer-events: auto;
    z-index: 0;
    /* position: absolute; */
    left: 0;
    height: 100%;
    display: flex;
}
/* .announQues2{
    transition: .7s cubic-bezier(.7,0,.3,1);
    transition-property: opacity, transform;
    gap: 0.5rem;
    align-items: center;
    display: flex;
} */
.quesVisit{
    line-height: 1.25;
    font-size: 13px;
    font-family: Inter, sans-serif;
    /* margin: 0; */
}
.belowTop{
    z-index: 20;
    position: sticky;
    inset-block-start: 0;
}
.headPortion{
    position: sticky;
    column-gap: .75rem;
    grid-template: minmax(0,1fr) auto minmax(0,1fr);
    background: none;
    border-start-start-radius: clamp(1rem,1.578vw,1.875rem);
    border-start-end-radius: clamp(1rem,1.578vw,1.875rem);
    padding-block-start: 24px;
    padding-block-end: 24px;
    border-radius: 30px;
    position: relative;
    color: rgb(23 23 23);
    margin: 0 auto;
    padding-inline: 1.25rem;
    align-items: center;
    z-index: 20;
    width: 100%;
    display: grid;
}
.heartPortion{
    display: flex;
    /* grid-area: tools; */             /*look*/
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    position: relative;
    z-index: 2;
}
.heartPortion2{
    flex-direction: row-reverse;
    justify-content: flex-start;
    /* margin-inline: -0.625rem; */
    gap: 0.375rem;
    align-items: center;
    display: flex;
}
.heartIcon{
    position: relative;
    color: inherit;
}
.heartPic{
    width: 1em;
    font-size: 22px;
    display: block;
    vertical-align: middle;
}
.menuBar{
    width: 2.15rem;
    height: 2.75rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    text-transform: none;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    border: none;
    margin: 0;
    padding: 0;
}
.menuPic,.searchPic,.cartPic{
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 1.5px;
    display: block;
    vertical-align: middle;
}
.odyssiaHead{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* margin-inline: auto; */
    /* max-width: 128px; */
    /* grid-area: logo; */                   /*look*/
    justify-content: center;
    z-index: 2;
    display: flex;
    margin: 0;
    /* font-family: Inter,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1;
    color: 23 23 23; */
    /* word-break: break-word; */
}
.odyssiaHead1{
    color: inherit;
    text-decoration: none;
    align-items: center;
    display: flex;
    position: relative;
}
.odyssPic{
    max-height: 42.7px;
    max-width: 90px;
    height: auto;
    display: block;
    vertical-align: middle;
}
.cartSearch{
    grid-area: icons;
    /* justify-content: flex-end; */
    z-index: 2;
    display: flex;
}
.cartSearch2{
    flex-direction: row-reverse;
    margin-inline: -0.625rem;
    gap: 0.375rem;
    align-items: center;
    display: flex;
}
.search,.cartIcon{
    width: 2.75rem;
    height: 2.75rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: inherit;
    text-decoration: inherit;
}
.lineHead{
    z-index: -1;
    height: 1px;
    background-color: rgba(23, 23, 23, 0.114);
    transition: .5s cubic-bezier(.6,0,.4,1);
    opacity: 0;
    width: 100%;
    inset-inline-start: 0;
    inset-block-start: 100%;
    position: absolute;
    pointer-events: none;
}
.pageContainer{
    background-color: rgb(255 255 255);
}
.Imgpadd{
    margin: 0 auto;
    padding-inline: 1.25rem;
    position: relative;
}
.margPadd{
    position: relative;
    overflow: hidden;
    object-fit: cover;
}
.curveImg{
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
    position: relative;
}
.imggg{
    position: static;
    max-width: 100%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    object-fit: cover;
    object-position: center center;
    display: block;
    vertical-align: middle;
}
.silverDots{
    display: flex;
    position: absolute;
    bottom: 29px;
    left: 50%;
    transform: translateX(-203%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.24rem;
    z-index: 10;
}
.dotBut{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 9999px;
    background-color: rgb(255 255 255);
    border: none;
    cursor: pointer;
    padding: 0;
}
.scrollImg{
    /* height: 396.047px; */
    padding-block-start: 39px;
    padding-block-end: 0px;
    position: relative;
    color: rgb(23 23 23);
    background-color: rgb(255 255 255);
    margin: 0 auto;
    padding-inline: 1.25rem;
}
.headScroll{
    margin-bottom: 2rem;
    line-height: 1;
    gap: 1rem;
    flex-direction: column;
    z-index: 1;
    text-align: start;
    display: grid;
}
.headWrite{
    font-size: clamp(1.55rem,2.526vw,3.0rem);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1;
    color: rgb(23 23 23);
    overflow: hidden;
    margin: -.1em -.05em;
}
.scrollDiv{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    padding-inline: 1.25rem;
    margin-inline: -1.25rem;
    scroll-padding-inline: 1.25rem;
    padding-block-end: 0.0rem;
    column-gap: 12px;
    scrollbar-width: none;
}
.scrollDiv2{
    width: 74vw;
    grid: auto/ auto-flow 74vw;
    gap: 0.75rem;
    flex-direction: column;
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    flex-direction: column;  /*beware*/
}
.scroll{
    border-radius: clamp(0.625rem,1.053vw,1.25rem);
    background-color: rgb(250 250 250);
    overflow: hidden;
    position: relative;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    max-width: 100%;
    display: block;
}
.scrollItem{
    flex: 0 0 auto;
    width: 74vw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
}
.writeBelow{
    padding-inline: 0;
    padding: 16px 0px;
    color: rgb(23 23 23);
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: start;
    display: flex;
}
.newArriv{
    font-size: 0.8125rem;
    letter-spacing: -.05em;
    line-height: 1.25;
    position: relative;
}
.iconArrow{
    width: 1rem;
    height: 1rem;
    stroke-width: 1.5px;
    display: block;
}
.scrolld{
    margin-bottom: 2rem;
    gap: 1rem;
    /* justify-content: space-between; */
    display: flex;
    padding-inline: 1.25rem;
    margin-inline: -1.25rem;
    overflow-y: auto;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;  
}
#commonBut{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    line-height: 1;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: rgb(255 255 255);
    border-radius: 3.75rem;
    box-shadow: rgba(168,232,226,0) 0px 0px 0px 0px ;
    border: none;
    height: auto;
    white-space: nowrap;
}
.hoverWomen{
    opacity: 1;
    background: #171717;
    background-color: rgb(23 23 23);
    max-height: 2.75rem;
    font-size: 0.75rem;
    padding: 0.875rem 1rem;
    border-width: 0;
}
#commonWo_men{
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.womenBut{
    color: rgb(255 255 255);
}
.whiteMen{
   background-color: rgba(23, 23, 23, 0.024);
}
.menBut{
    color: rgb(23 23 23);
}
.cartBlack{
    inset-inline-end: 0;
    inset-block-end: 0;
    padding-inline-start: 0.75rem;
    padding-block-end: 0.75rem;
    justify-content: flex-end;
    z-index: 10;
    width: 100%;
    display: flex;
    position: absolute;
    pointer-events: none;
}
.blkCart{
    width: 2.5rem;
    height: 2.5rem;
    padding-bottom: 0.75rem;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    bottom: 8px;
    right: 10px;
    overflow: hidden;
    line-height: 1;
    color: rgb(255 255 255);
    background: #171717;
    background-color: rgb(23 23 23);
    border-radius: 3.75rem;
    max-height: 3.75rem;
    border: none;
    pointer-events: auto;
}
.cartBlk{
    color: rgb(255, 255, 255);
    position: relative;
    pointer-events: none;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 2px;
}
.cartt{
    color: rgb(255 255 255);
    cursor: pointer;
    display: block;
    font-family: Inter, sans-serif;
    width: 1.125rem;
    height: 1.125rem;
    stroke-width: 1.5px;
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: -2px;
    margin-right: 2px;
}
.desImg{
    display: flex;
    padding: 16px 16px;
    flex-grow: 1;
    justify-content: flex-start;
    flex-direction: column;
    text-align: start;
    gap: 0.25rem;
    align-items: baseline;
    width: 100%;
}
.SandalFor,.priceRs{
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: clamp(1.0rem, 0.873rem + 0.3175vw, 1.25rem);
    font-weight: 400;
    line-height: 1.25;
    color: inherit;
    text-decoration: inherit;
}
.paddiFor{
    margin: 0 auto;
    padding-top: 39px; 
    width: 100%;
    overflow: hidden;
    position: relative;  
}
.ImgScreen{
    height: 400px;
    border: 0px solid rgb(255, 255, 255);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    object-fit: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 100%;
    position: relative;
    max-width: 100%;
    border-radius: 10px;
}
.bagIcon{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: 0 solid #e5e7eb;
}
.paddiBag{
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 6px;
    padding-right: 4px;
    background-color: rgba(0,0,0,.4);
    border-radius: 24px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45px;
    right: 8px;
}
.arrowScroll{
    opacity: 1;
    pointer-events: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: hsla(0, 0%, 100%, .9);
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    z-index: 10;
    top: 50%;
    right: 0;
    position: absolute;
}
.paddiForColor{
    padding-top: 39px;
    width: 280px;
    height: 325px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 10px;
}
.picColor{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
    display: block;
    border-radius: 10px;
}
.shopBy{
    padding-block-start: 24px;
    padding-block-end: 16px;
    position: relative;
    background-color: rgb(23 23 23);
    margin: 0 auto;
    padding-inline: 1.25rem;
}
.writeBrand{
    margin-block-end: 32px;
    line-height: 1;
    gap: 1rem;
    display: flex;
    text-align: start;
    position: relative;
    flex-direction: column;
    z-index: 1;
    font-size: 24px;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1;
    color: rgb(255 255 255);
}
.flexBrand{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    justify-items: center;
}
.brandss{
    width: 100%;
    height: 90px;
    object-fit: contain;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}